$color-text: #C6CBCF;
$color-text-disabled: #5E5F60;

$color-active: #3596D6;
$color-pre-active: #24577A;
$color-hover: #2E3238;
$color-warning: #F27835;
$color-warning-active: #FF7F2A;

$color-danger: #F44336;

$color-go: #27AE60;
$color-go-active: #35BE50;


$color-progress: #385EC3;
$color-progress-completed: #3F83D4;

$color-border: #14161B;
$color-background: #22252C;
$color-top-toolbar: #14161B;
$color-bottom-toolbar: #1B1D24;

$color-popup: #1B1D24;

$color-button: #262A32;

$color-button-hover: #24262E;
