.shadow {
  box-shadow: 0px 0px 6px 4px $color-border;
}


p {
  margin: 0;
}

button, input {
  border: none;
  text-decoration: none;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.actionButton {
  border: 1px solid $color-border;
  background-color: $color-button;

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    background-color: $color-active;
    border: 1px dotted $color-text;
  }
}

.inputBox {
  user-select: text;
  background-color: $color-button;
  border-radius: 4px;
  border: 1px solid $color-border;
}

.absoluteCenter,
.fixedCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fixedCenter {
  position: fixed;
}
.absoluteCenter {
  position: absolute;
}

.openPanelContainer {
  overflow: scroll;
  $pad: 20px;
  margin: $pad;
  max-width: calc(100% - ($pad * 2));
  max-height: calc(100% - ($pad * 2));
}


.verticallyCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.textCenter { 
  text-align: center;
}

.overflowEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu {
  position: absolute;

  display: block;
  background-color: $color-popup;

  padding: 4px 0; // top/bottom
  border-radius: 4px;

  box-shadow: 0px 0px 6px 4px $color-border;
  .icon {
    position: relative;
    top: 2px; // move icon down 2 pixels
    margin-right: 8px;
  }
  .row {
    display: block;
    padding: 2px 6px; // top/bottom left/right
    margin: 0;

    &:hover {
      background-color: $color-active;
    }
  }
  .rowDisabled {
    .icon path {
      color: $color-text-disabled
    }
    span {
      color: $color-text-disabled;
    }
    // remove hover color
    &:hover {
      background-color: $color-popup;
    }
  }
  .rowBreak {
    margin: 2px 0; // top/bottom
    padding: 0;
    border: 1px solid $color-border;
  }
}